openta/django/backend/exercises/question.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="global">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="blacklist"/>
	<xs:element ref="vars"/>
	<xs:element ref="ops"/>
	<xs:element ref="funcs"/>
	<xs:element ref="oneforms"/>
	<xs:element ref="op"/>
        <xs:element ref="var"/>
	<xs:element ref="hint"/>
	<xs:element ref="funcs"/>
	<xs:element ref="func"/>
      </xs:choice>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="macros" type="xs:string"/>



<xs:element name="question">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="blacklist"/>
	<xs:element ref="ops"/>
	<xs:element ref="oneforms"/>
	 <xs:element ref="funcs"/>
	<xs:element ref="vars"/>
        <xs:element ref="hint"/>
        <xs:element ref="parsed"/>
        <xs:element ref="text"/>
	<xs:element ref="source"/>
        <xs:element ref="var"/>
	<xs:element ref="func"/>
        <xs:element ref="choice"/>
        <xs:element ref="equality"/>
        <xs:element ref="expression"/>
        <xs:element ref="istrue"/>
	<xs:element ref="isfalse"/>
	<xs:element ref="iscorrect"/>
	<xs:element ref="isincorrect"/>
        <xs:element ref="rate"/>
	<xs:element ref="querypath" />
	<xs:element ref="resources" />
	<xs:element ref="instructions" />
	<xs:element ref="wl"/>
	<xs:element ref="import"/>
        <xs:element ref="variables"/>
	<xs:element ref="local"/>
	<xs:element ref="functions"/>
        <xs:element ref="macros"/>
	<xs:element ref="hidden"/>
	<xs:element ref="ignore"/>
	<xs:element ref="istrue"/>
      </xs:choice>

      <xs:attribute name="exposeglobals" type="xs:NCName"/>
     <xs:attribute name="points" type="xs:string"/>
      <xs:attribute name="key" type="xs:NMTOKEN"/>
      <xs:attribute name="precision" type="xs:string"/>
      <xs:attribute name="validate" type="xs:string"/>
      <xs:attribute name="silent" type="xs:string"/>
      <xs:attribute name="hidden" type="xs:string"/>
      <xs:attribute name="showerrors" type="xs:string"/>

      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute name="mode" type="xs:NCName"/>
      <xs:attribute name="function" type="xs:NCName"/>
      <xs:attribute name="file" type="xs:NCName"/>
      <xs:attribute name="answerbox" type="xs:NCName"/>
    </xs:complexType>
 </xs:element>

<xs:element name="choice">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="alt"/>
        <xs:element ref="figure"/>
        <xs:element ref="text"/>
      </xs:choice>
      <xs:attribute name="correct" type="xs:string"/>
      <xs:attribute name="key" use="required" type="xs:string"/>
      <xs:attribute name="order"  type="xs:string"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="equality" type="xs:string"/>
  <xs:element name="import" type="xs:string"/>
  <xs:element name="wl" type="xs:string"/>
  
  <xs:element name="expression">
    <xs:complexType mixed="true">
      <xs:attribute name="label" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
<xs:element name="iscorrect" type="xs:string"/>
<xs:element name="isincorrect" type="xs:string"/>
<xs:element name="instructions" type="xs:string"/>
<xs:element name="resources" type="xs:string"/>
<xs:element name="querypath" type="xs:string"/>

  <xs:element name="rate" type="xs:string"/>
<xs:element name="source" type="xs:string"/>


  <xs:element name="functions">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="func"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="local">
    <xs:complexType mixed="true">
      <xs:sequence>
	 <xs:element minOccurs="0" maxOccurs="unbounded" ref="blacklist"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="var"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



  <xs:element name="ops">
    <xs:complexType mixed="true">
    </xs:complexType>
  </xs:element>


  <xs:element name="oneforms">
    <xs:complexType mixed="true">
    </xs:complexType>
  </xs:element>

  <xs:element name="funcs">
    <xs:complexType mixed="true">
    </xs:complexType>
  </xs:element>



  <xs:element name="variables">
    <xs:complexType mixed="true">
      <xs:sequence>
	 <xs:element minOccurs="0" maxOccurs="unbounded" ref="blacklist"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="var"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



 <xs:element name="comment">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="alt"/>
      </xs:sequence>
       <xs:attribute name="hashkey" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>


 <xs:element name="istrue">
    <xs:complexType mixed="true">
      <xs:sequence>
	       <xs:choice minOccurs="0" maxOccurs="unbounded">

        <xs:element  minOccurs="0" maxOccurs="unbounded"  name="if-so"/>
	<xs:element  minOccurs="0" maxOccurs="unbounded"  name="if-not-so"/>
	</xs:choice>

      </xs:sequence>
	<xs:attribute name="sufficient" type="xs:string"/>
    </xs:complexType>
  </xs:element>

 <xs:element name="isfalse">
    <xs:complexType mixed="true">
      <xs:sequence>
	  <xs:choice minOccurs="0" maxOccurs="unbounded">
		  <xs:element  minOccurs="0" maxOccurs="unbounded"  name="if-so"/>
	 <xs:element  minOccurs="0" maxOccurs="unbounded"  name="if-not-so"/>

 	</xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>




  <xs:element name="regex">
    <xs:complexType mixed="true">
      <xs:attribute name="present" type="xs:string"/>
    </xs:complexType>
  </xs:element>

<xs:element name="hint">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="hide"/>
        <xs:element ref="hint"/>
        <xs:element ref="image"/>
        <xs:element ref="text"/>
        <xs:element ref="comment"/>
        <xs:element ref="regex"/>
      </xs:choice>
      <xs:attribute name="label"/>
      <xs:attribute name="lang" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>


 <xs:element name="blacklist">
    <xs:complexType mixed="true">
      <xs:sequence>
	  <xs:choice minOccurs="0" maxOccurs="unbounded">
	   	<xs:element minOccurs="0" maxOccurs="unbounded" name="token"/>
 	</xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

 <xs:element name="var">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
	  <xs:element ref="token"/>
          <xs:element ref="tex"/>
          <xs:element ref="value"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


 <xs:element name="func">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="token"/>
	<xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element ref="args"/>
	<xs:element ref="value"/>
          <xs:element ref="tex"/>
	</xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>




  <xs:element name="tex" type="xs:string"/>
<xs:element name="op" type="xs:string"/>
  <xs:element name="value" type="xs:string"/>

<xs:element name="thecorrectanswer">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:NCName"/>
      <xs:attribute name="lang" type="xs:NCName"/>
      <xs:attribute name="question"/>
      <xs:attribute name="questionkey" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>

<xs:element name="token" type="xs:NCName"/>
<xs:element name="args" type="xs:string"/>


 





</xs:schema>
